#refreshButton {
  position: absolute;
  bottom: 2%;
  padding-left: 2%;
  z-index: 400;
  width: 70%;
}
#tourism {
  position: absolute;
  top: 54%;
  left: 45%;
  padding: 10px;
  z-index: 400;
}

#refreshButton2 {
    position: absolute;
    bottom: 2%;
    padding-left: 2%;
    z-index: 400;
    width: 70%;
    color: blue;
  }
  
  #portal {
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 10px;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    z-index: 400;
    
  }
  